server:
  port: 8080

fastapi:
  base-url: ${FASTAPI_BASE_URL:http://localhost:8000}

spring:
  datasource:
    url: ${SPRING_DATASOURCE_URL}
    driver-class-name: ${SPRING_DATASOURCE_DRIVER_CLASS_NAME}
    username: ${SPRING_DATASOURCE_USERNAME}
    password: ${SPRING_DATASOURCE_PASSWORD}

  jpa:
    database-platform: ${SPRING_JPA_DATABASE_PLATFORM}
    hibernate:
      ddl-auto: ${SPRING_JPA_HIBERNATE_DDL_AUTO}
    show-sql: ${SPRING_JPA_SHOW_SQL}

  data:
    redis:
      host: localhost
      port: 6379
      timeout: 2000

  main:
    allow-bean-definition-overriding: true

  h2:
    console:
      enabled: ${SPRING_H2_CONSOLE_ENABLED}

  security:
    oauth2:
      client:
        registration:
          naver:
            client-name: Naver
            client-id: ${NAVER_CLIENT_ID}
            client-secret: ${NAVER_CLIENT_SECRET}
            redirect-uri: http://localhost:8080/login/oauth2/code/naver
            authorization-grant-type: authorization_code
            scope: name,email,nickname,gender

        provider:
          naver:
            authorization-uri: https://nid.naver.com/oauth2.0/authorize
            token-uri: https://nid.naver.com/oauth2.0/token
            user-info-uri: https://openapi.naver.com/v1/nid/me
            user-name-attribute: response

  jwt:
    secret: ${JWT_SECRET_KEY}
    access-ttl: 7200000
    refresh-ttl: 1209600000

# 디버깅을 위한 로그 레벨 추가
logging:
  level:
    org.springframework.security: DEBUG
    org.springframework.security.oauth2: DEBUG